body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5885af;
    color: #fff;
    font-family: "Roboto", sans-serif;
}
 
.title {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 1rem;
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40rem;   
    border: 3px solid black;
    width: 40rem;
    padding: 1.875rem;
    border-radius: 1.875rem;
    background-color: #274472;
}
 
.btn {
    font-size: 3rem;
    padding: 2rem;
    font-weight: 600;
    border-radius: 4.1rem;
    border: 5px solid #41729f;
    transition: .2s ease;
}
 
.btn:hover {
    transform: translateY(1.25rem);
    background-color: #c3e0e5;
    cursor: pointer;
}

.btn--restart {
    margin-top: 1.25rem;
}
 
.form {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
 
.form__input,
.form__submit {
    width: 50%;
}
 
.form__submit {
    font-size: 1.5rem;
    padding: 1rem;
}
 
.form__submit:hover {
    transform: scale(1.1);
}
 
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #fff;
}
 
.card__image {
    border-radius: .875rem;
}

details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c3e0e5;
    padding: 1rem ;
    margin: 1rem;
    gap: 1rem;
    border-radius: 1.875rem;
    color: #274472;
    width: 70%;
    border: 3px solid #274472;
    transition: .2s ease;
}

details:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 3px solid #c3e0e5;
    background: #274472;
    color: #c3e0e5;
}